@import '../global.scss';

.modalBackground{
    position:absolute;
    top:0;
    z-index: 999;
    height: 100vh;
    width: 100vw;
    background-color: rgb(243, 237, 237);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .modalContainer{
        position:absolute;
        top: 50%;
        left: 50%;
        right: auto;
        bottom: auto;
        margin-right: -50%;
        background-color:rgb(250, 203, 203);
        padding:40px;
        
        transform: translate(-50%, -50%);
        border-radius: 12px;
        background-color: white;
        box-shadow: rgba(2, 2, 2, 0.35) 0px 5px 15px;
        display: flex;
        flex-direction: column;

        .modalclose{
            position:absolute;
            right:30px;
            top:18px;
            left: auto;
            bottom: auto;
        }

        .btncontainer{
            .btn{
                width: 150px;
                height: 45px;
                margin: 10px;
                border: none;
                background-color: $maincolor;
                color: white;
                border-radius: 8px;
                font-size: 20px;
                cursor: pointer; 
            }
        }
        

        .interupt{
            
            .listContainer{
                padding: 10px;

                .other{
                    margin-left: 40px;
                    transition: all 0.7s ease;
                }
            }
        }
    }
}