@import '../global.scss';

.content{
    
    z-index: 1;

.navbar{
    
    height:50px;
    padding:20px;
    
    
    .navbarWrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .navbarLeft{
            display: flex;
            flex-direction: row;
            align-items: center;
            

            .navbarImg{
                background-color: $maincolor;
                width: 50px;
                height: 50px;
                border-radius: 10px;
                
                
                .image{
                    width: 40px;
                    height: 40px;
                    padding:5px;
                    border-radius:30px;
                }
            }
            .navbarText{
                margin-left: 20px;
                padding:20px;
                border-left: 1px solid rgb(202, 182, 182);

                // @include mobile{
                //     display:none;
                // }
            }
        }
        .navbarRight{
            
            .hamburger{

                 display:none;

                @include mobile{
                    display: block;
                    
                    padding:20px;
                
                }
                
                
            }
            
                
                .hamcontainer{
                    

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 10%;
                    justify-content: space-between;
                    
                    @include mobile{

                        display: none;
                         
                         &:active{
                            .hamcontainer{
                                @include mobile{
                                    display: block;
                                    
                                    flex-direction:column;
                                }
                            }
                        }
                        
                    }

                    

                    .navbarTask{

                        .btn{
                            width: 100px;
                            height: 35px;
                            margin: 10px;
                            border: none;
                            background-color: $maincolor;
                            color: white;
                            border-radius: 8px;
                            
                            cursor: pointer; 
                        }
        
                        
                    }
                    
                
            }

            @include mobile{
                flex-direction:column;
               
            }
        
            

            .modal{
                position: relative;
                align-items: center;
                background-color:green;

                .modalclose{
                    position: absolute;
                    left:50px;
                }
            }
        }
    }
}
}