@import '../global.scss';
.post{
    margin-top: 50px;

.postheading{
    display: flex;
    align-items:center;
    justify-content:space-around;
    padding:15px;
    @include mobile{
        font-size:15px;
    }
}
.post_container{
    display: flex;
    align-items:center;
    justify-content:space-around;
    margin-top:40px;
    padding:15px;   
}
.loader{
    margin-left: 30px;
}

}